'use strict';

var RULES = require('ajv/lib/compile/rules')();
var formats = require('ajv/lib/compile/formats')({{= it.ajv._opts.format ? "'" + it.ajv._opts.format + "'" : '' }});
var equal = require('ajv/lib/compile/equal');
var ucs2length = require('ajv/lib/compile/ucs2length');

{{? it.validate.$async }}
  var co = require('co');
  var ValidationError = require('ajv/lib/compile/validation_error');
{{?}}

/*
'root',
'refVal',
'defaults',
'customRules'
*/

var validate = module.exports = (function() {
  {{~it.validate.patterns:p:i}}
    var pattern{{=i}} = new RegExp('{{=it.util.escapeQuotes(p)}}');
  {{~}}

  {{~it.validate.defaults:d:i}}
    var default{{=i}} = {{=JSON.stringify(d)}};
  {{~}}

  return {{= it.validate.toString() }};
})();

validate.schema = {{= JSON.stringify(it.validate.schema )}};
validate.errors = null;
